<section class="section hero">
  <a href="https://incmagazine.zendesk.com/hc/en-us/articles/360041055852"> <p style="color:red; float: right;">COVID-19 FAQS</p></a>

  <div id="centerDivy">
 	 	<a href="www.inc.com" target="_Blank"><img id="incLogo" src="{{asset "Inc-logo-white.png"}}"alt="Inc Logo"/></a>
  	<h2 id="HC">Help Center</h2>
  </div>
    
  <div class="hero-inner">
      <br>
      <h1>How can we help?</h1>
<div id="bgCover">                                                                         
<div id="topSearchDiv">
  
  <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Enter a question or keyword, or search by topic below" autocomplete="off" aria-label="Enter a question or keyword, or search by topic below">
<button id="zButton">Submit</button>
</form>
  
                    </div>
  </div>
                                                                         
                                                                         </div>                       
</section>

          
<div>
<div class="container">
  <section id="zeeper" class="section knowledge-base">
    <section class="categories blocks">
  

      <ul class="blocks-list">
        {{#each categories}}
          
          {{#is id 360000006726}}
        	<br>
          <h2 class="yayZ block-header">Subscriptions</h2>
          <br>
        {{/is}}                   
                             
        
        {{#is id 360000007166}}
        	<br>
          <h2 class="yayZ block-header">Inc. Recognition</h2>
          <br>
        {{/is}}
        
        {{#is id 360000007186}}
          <br>
          <h2 class="yayZ block-header">Inc. Membership</h2>
          <br>
        {{/is}}
        
        {{#is id 360000011043}}
          <br>
          <h2 class="yayZ block-header">Inc. Events</h2>
          <br>
        {{/is}}
        
        {{#is id 360003847471}}
          <br>
          <h2 class="yayZ block-header">Products</h2>
          <br>
        {{/is}}
        
        
        {{#is id 360000007163}}
          <br>
          <h2 class="yayZ block-header">Content</h2>
          <br>
        {{/is}}
                
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <h3 class="blocks-item-title">{{name}}</h3>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>      
            </li>      
          {{else}}
            {{#each sections}}
              <li class="blocks-item {{#if internal}}blocks-item-internal{{/if}}">
                <a href='{{url}}' class="blocks-item-link">
                  <h3 class="blocks-item-title">
                    {{name}}
                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </h3>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>      
       
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
  
 <div>
      <div class="contactUs">
        <a href="mailto:care@inc.com">	
          <h2 id="contactUs">Contact Us</h2>  
        </a>
      </div>                                            
  </div>
  
</div>                                                                       
                                                                         
                                                                         
                                                                         
                                                                         
                                                                         
                                                                         
                                                                         
                                                                         
                                                                  