<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    {{#if follow_up}}
      <span class="follow-up-hint">
        {{follow_up}}
      </span>
    {{/if}}
  </h1>
  <p>If you would like to exercise any of the privacy rights available to you under applicable law, please complete this Personal Information Request Form.</p>
  <p>Please see the <a href='http://www.mansueto.com/privacy-policy/'>Mansueto Ventures Privacy Policy</a> to learn more about the privacy rights available to you.</p>
<p>Mansueto Ventures LLC (“Mansueto Ventures” or “we”) may not honor part or all of a request you make to exercise your privacy rights if we are not required to do so under applicable law or for any of the other reasons described in the Privacy Policy.</p>
<p>Please check “Yes” to one of the below questions.  If you do not check “Yes” to one of the questions, then you cannot submit a request using this Personal Information Request Form.</p>

  <h2> <u>FOR CALIFORNIA RESIDENTS</u> </h2>
  <p>California Consumer Privacy Act of 2018 (“CCPA”) permits residents of the State of California (“California Consumers”) to make certain requests about the Personal Information (as defined in our <a href="">Privacy Policy</a>) that we collect from or about them.</p>
<p>If you are a California Consumer, please also see our <a href=#California>CALIFORNIA CONSUMER PRIVACY NOTICE</a> for more information about the privacy rights available to you.</p>
<p>You are not required to complete certain fields in this Personal Information Request Form but we can only search for you and your Personal Information using the information that you provide.  We encourage you to provide as much information as possible that will help us to honor your request.</p>
<p>If you are completing this Request Form on behalf of another person, please fill in the California Consumer’s information and add your “Requestor” information.</p>
  
  <h2><u>FOR INDIVIDUALS LOCATED IN THE EU</u></h2>
<p>The EU General Data Protection Regulation (GDPR) provides data subjects with certain privacy rights.  Please see our <a href='http://www.mansueto.com/privacy-policy/'>Privacy Policy</a> for more information about the rights available to you.</p>
<p>You are not required to complete certain fields in this Personal Information Request Form but we can only search for you and your Personal Information using the information that you provide.  We encourage you to provide as much information as possible that will help us to honor your request.</p>

  <div id="main-content" class="form">
    {{request_form}}
  </div>
  <h2><u>Alternate Methods</u></h2>
  <p>Alternatively you can email the above information via email to <a href="mailto:privacyofficer@mansueto.com">privacyofficer@mansueto.com</a> or call 1-800-248-0308</p>
  <br></br>
<h2><u>Verification Details</u></h2>
  <p>Mansueto Ventures may require you to provide additional details to confirm your identity to protect your information.</p>
  <br></br>
<h2><u>Additional Opt Outs</u></h2>
<p> To opt out from additional vendors please see our <a href="mansueto.com/vendor-policies">Vendor Policy List</a> or visit The Digital Advertising Alliance's <a href="https://optout.aboutads.info">WebChoices Tool</a> and the National Advertising Initiative's <a href="https://optout.networkadvertising.org">Opt Out of Interest-Based Advertising</a></p>
</div>
